@page "/"
@namespace TacticView.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TacticView</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <style type="text/css">
        .ui-cell-data { font-size: 16px }
        .ui-tabview-nav li a { padding: 0.375rem 1rem }
        .ui-tabview-nav .ui-tabview-selected { border-top-color: #512bd4 }
        .ui-state-active a[role="tab"] { color: #512bd4 }
        a { color: #512bd4 }
    </style>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
