@page "/"
@page "/servicing-consider"
@inject IStringLocalizer<UIStrings> L

<h1>@L["ServicingConsiderLong"]</h1>

<p>@L["ConsiderDescription"]</p>

<TacticTabView Label="servicing-consider" EnableApproval="true" />