@page "/"
@page "/servicing-consider"

<h1>@Resources.UIStrings.ServicingConsiderLong</h1>

<p>@Resources.UIStrings.ConsiderDescription</p>

<TacticTabView Label="servicing-consider" EnableApproval="true" />