@page "/repos"
@inject Microsoft.AspNetCore.Components.Web.Extensions.ProtectedLocalStorage localStorage

<h3>Repositories</h3>

<ul>
    @if (repos != null)
    {
        foreach (var item in repos)
        {
            <li>@item.Name</li>
        }
    }
</ul>
@code {
    List<Repository> repos = null;
    bool haveToken = false;
    string token = "";

    private async Task PopulateRepos()
    {
        if (haveToken)
        {
            var client = new GitHubClient(new ProductHeaderValue(Startup.GITHUB_CLIENT_HEADER));

            var creds = new Credentials(token);
            client.Credentials = creds;

            foreach (var item in await client.Repository.GetAllForCurrent())
            {
                repos.Add(item);
            }

            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var tokenStorage = await localStorage.GetAsync<string>("token");
            token = tokenStorage.Value;
            haveToken = true;
            await PopulateRepos();
        }
    }
}
