@page "/servicing-approved"
@inject IStringLocalizer<UIStrings> L

<h1>@L["ServicingApprovedLong"]</h1>

<p>@L["ApprovedDescription"]</p>

<TacticTabView Label="servicing-approved" IsOpenOnly="false" />