@using TacticView.Data

@inject AppState AppState

@if (!IsAuthenticated)
{
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="@LoginUrl">
            <i style="font-size:24px;color:white;" class="fa fa-github"></i>Authenticate
        </NavLink>
    </li>
}