@inherits LayoutComponentBase

<RadzenNotification />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/timheuer/tacticview" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <div class="col-12" style="bottom:0;position:fixed;">
        <DebugInfo />
    </div>

</div>
