@inherits LayoutComponentBase

<RadzenNotification />

<NavMenu />

<div class="container-fluid mt-3">
    @Body
</div>

<div class="col-12" style="padding-top:1.1rem;border-top:1px solid #d7d7d7;margin-top:15px">
    <DebugInfo />
</div>
